html, body {
    min-height: 100%;
}

body {
    height: auto;
    margin: 0 0 0 20px;
    box-shadow: 0 0 3px 3px rgba(211, 211, 211, 0.5);
}

header {
    height: 3em;
    position: fixed;
    border-bottom: 1px solid grey;
    width: 100%;
    z-index: 9999;
    background: white;
}

header > p {
    position: fixed;
    height: 2em;
    top: .5em;
    left: 15px;
    border: 1px black solid;
    border-radius: 4px;
    z-index: 10000;
    margin: 0;
    background-color:white;
    padding: 0 3px 0 3px;
    line-height: 2.1em;
}

header > p > img {
    height: 16px;
    width: 16px;
}

header > img {
    max-width: 185px;
    position: fixed;
    left: 43%;
    top: .75em;
}

header > img#imgsub {
    position: fixed;
    top: .5em;
    left: 130px;

}

header > ul {
    z-index: 10000;
    list-style: none;
    display: inline-block;
}

header > ul > li > img {
    max-height: 20px;
    max-width: 20px
}

header > button {
  color: white;
  background-color: blue;
  line-height: 2.5em;
  font-size: .75em;
  border-radius: 6px;
  padding: 0 1em;
  border: solid;
position: fixed;
    top: 7px;
}

header > button:last-of-type {
    right: 120px;
}

header > button:first-of-type {
    right: 50px;
}


header > ul.leftside {
    padding-left: 6em;
}

.rightside {
    position: fixed;
    right: 15px;
    top; 10px;
    height: auto;
    width: auto;
}

header li {
    display: inline-block;
    width: auto;
    border: 1px solid black;
    margin-left: 1em;
    position: relative;
    line-height; 1.5em
}

nav {
    padding-top: 3em;
    height: 5em;
    position: relative;
    border-bottom:1px solid grey;
    box-shadow: 0 3px rgba(211, 211, 211, 0.5);
    width: auto;
}

nav > ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.article-bar {
    width: 19%;
    border-right: black solid 1px;
    height: 100%;
    display: inline-block;
    padding: 7.5px 0 5px 7.5px;
}

.article-bar > img {
    height: 65px;
    width: 65px;
    display: inline-block;
}

.article-bar {
    position: relative;
}

.article-bar > span {
    max-width: 150px;
    display: inline-block;
    padding-left: 3px;
    position: relative;
    height: auto;
}

span > h5, span > p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

li > h5 {
    position: absolute;
    top: 9px;
    left: 78px;
    margin: 0;
    font-size: 10px;
}

#wrapper {
    margin: 0 7.5% 0 7.5%;
    height: 100%;
    width: auto;
}

h4 {
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 12px;
}

h1 {
    font-weight: italic;
}

#credits-social {
    height: auto;
    width: 100%;
    border-top: 1px solid black;
    position: relative;
}
em {
    font-weight: bold;
}
#credits-social > p {
    display: inline-block;
    float: left;
    font-size: 10px;
    margin-right: 20px;
    padding-top: 10px
}
#socialm-icons {
    height: 40px;
    width: auto;
    float: right;

}
figure {
    width: 100%;
    padding: 0;
    margin: 0;
}
figure > img {
    margin-top: 30px;
    max-width: 100%;
}
figcaption{
    width: 50%;
    font-size: 14px;
}

figcaption > span {
    font-size: 10px;
}

#socialm-icons ul{
    list-style: none;
    display: inline-block;
    float: right;
    margin-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    background: url("https://raw.githubusercontent.com/migueloherrera/nytimes/master/assets/images/social.png") no-repeat;
}

 #socialm-icons li {
    height: 30px;
    width: 30px;

    border-radius: 100px;
    display: inline-block;
}

#banner li, #speechbubble li{
    height: 30px;
    width: 30px;
    
    border-radius: 100px;
  
} */

#sidebar {
    width: 7.5%;

    height: 100%;
    left: 0;
    display: inline-block;        
}

.text-content {
    width: 50%;
    display: inline-block;
    padding-left: 10%;
}